@using System.Linq
@using BookStore
@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> AppSettings
@inject BookUtil BookUtil
@model BookDetailViewModel

@{
    //ViewData["Title"] = Model.Book.Title;
    var book = Model.Book;
    var relatedBooks = Model.RelatedBooks;
    var amazonCode = AppSettings.Value.AmazonCode;
    var logoUrl = BookUtil.GetBookLogo(book.Logo);
}



<div class="row">
    <div class="col-md-8 cbox">
        <div class="pub-header">
            <div class="pub-header-img">
                <img src="@BookUtil.GetBookLogo(book.Logo)" alt="@book.Title" />
            </div>
            <div class="pub-header-content">
                <h1 class="pub-header-title">@book.Title</h1>
            </div>
        </div>
        <div class="pub-detail">
            
        </div>
    </div>
</div>