@using System.Linq
@using BookStore
@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> AppSettings
@inject BookUtil BookUtil
@model BookDetailViewModel

@{
    ViewData["Title"] = Model.Book.Title;
    var book = Model.Book;
    var relatedBooks = Model.RelatedBooks;
    var amazonCode = AppSettings.Value.AmazonCode;
    var logoUrl = BookUtil.GetBookLogo(book.Logo);
}


<div class="row">
    <div class="col-md-10">
        <div class="entry">
            <h1>
                <a class="title">@book.Title</a>
            </h1>
        </div>
    </div>
</div>