@using System.Linq
@using BookStore
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Razor.Extensions
@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> AppSettings
@model BookDetailViewModel

@{
    ViewData["Title"] = Model.Book.Title;
    var book = Model.Book;
}

<div class="row">
    <div class="col-md-12">
        <div class="well" style="background-color: #ffffff;">
            <h2>
                <a target="_blank" href="http://www.amazon.cn/gp/search?index=books&keywords=@(book.Title)&tag=@(AppSettings.Value.AmazonCode)">
                    @book.Title
                </a>
            </h2>
        </div>
    </div>

</div>

