<nav data-v-5ce25e66="" role="navigation" class="main-nav">

    <ul data-v-5ce25e66="" class="nav-list">
        <div data-v-5ce25e66="" class="main-nav-list">
            <div data-v-5ce25e66="" class="phone-show-menu">
                <span data-v-5ce25e66="">首页</span>
                <div data-v-5ce25e66="" class="icon ion-arrow-down-b">
                </div>
            </div>

            <div data-v-5ce25e66="" class="phone-hide">
                <li data-v-5ce25e66="" class="nav-item link-item route-active active"><a data-v-5ce25e66=""
                                                                                         href="/">首页</a></li>
                <li data-v-5ce25e66="" class="nav-item link-item"><a data-v-5ce25e66="" href="/zhuanlan/all">专栏</a></li>
                <li data-v-5ce25e66="" class="nav-item link-item"><a data-v-5ce25e66="" href="/collections/recommended">收藏集</a>
                </li>
                <li data-v-5ce25e66="" class="nav-item link-item"><a data-v-5ce25e66="" href="/explore/all">发现</a></li>
                <li data-v-5ce25e66="" class="nav-item link-item"><a data-v-5ce25e66=""
                                                                     href="/repos?since=monthly">开源库</a></li>
            </div>
        </div>
        <li data-v-5ce25e66="" class="nav-item search">
            <form data-v-5ce25e66="" role="search" class="search-form"><input data-v-5ce25e66="" maxlength="32"
                                                                              placeholder="搜索掘金"
                                                                              class="search-input"><img
                    data-v-5ce25e66="" src="//gold-cdn.xitu.io/v3/static/img/juejin-search-icon.6f8ba1b.svg" alt="搜索"
                    class="search-icon"></form>
        </li>
        <li data-v-5ce25e66="" class="nav-item add"><i data-v-5ce25e66="" class="icon ion-android-add"></i><!----></li>
        <li data-v-5ce25e66="" class="nav-item notification"><i data-v-5ce25e66=""
                                                                class="icon ion-android-notifications"></i><!----></li>
        <li data-v-5ce25e66="" class="nav-item menu">
            <div data-v-b2db8566="" data-v-1b9df826="" data-v-5ce25e66=""
                 data-src="http://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTKH7y7OaXPMVbuz3IdYjkibk8TaMMzAxkDyRRrIPoPxVUmP401vtWc6gF2bpibPJMUF6P94IHNTRKLg/0"
                 class="lazy avatar avatar loaded"
                 style="background-image: url(&quot;http://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTKH7y7OaXPMVbuz3IdYjkibk8TaMMzAxkDyRRrIPoPxVUmP401vtWc6gF2bpibPJMUF6P94IHNTRKLg/0&quot;);"></div>
            <ul data-v-5ce25e66="" class="nav-menu user-dropdown-list" style="display: none;">
                <div data-v-5ce25e66="" class="nav-menu-item-group">
                    <li data-v-5ce25e66="" class="nav-menu-item"><a data-v-5ce25e66=""><i data-v-5ce25e66=""
                                                                                          class="fengwei fw-write"></i>写文章</a>
                    </li>
                    <li data-v-5ce25e66="" class="nav-menu-item"><a data-v-5ce25e66=""><i data-v-5ce25e66=""
                                                                                          class="fengwei fw-draft"></i>草稿</a>
                    </li>
                </div>
                <div data-v-5ce25e66="" class="nav-menu-item-group">
                    <li data-v-5ce25e66="" class="nav-menu-item"><a data-v-5ce25e66=""
                                                                    href="/user/59bbdf3451882561724a7097"><i
                            data-v-5ce25e66="" class="fengwei fw-person"></i>我的主页</a></li>
                    <li data-v-5ce25e66="" class="nav-menu-item"><a data-v-5ce25e66=""
                                                                    href="/user/59bbdf3451882561724a7097/like"><i
                            data-v-5ce25e66="" class="fengwei fw-like"></i>我喜欢的</a></li>
                    <li data-v-5ce25e66="" class="nav-menu-item"><a data-v-5ce25e66=""
                                                                    href="/user/59bbdf3451882561724a7097/collection"><i
                            data-v-5ce25e66="" class="fengwei fw-collection"></i>我的收藏集</a></li><!---->
                    <li data-v-5ce25e66="" class="nav-menu-item"><a data-v-5ce25e66="" href="/subscribe"><i
                            data-v-5ce25e66="" class="fengwei fw-tag"></i>标签管理</a></li>
                </div>
                <div data-v-5ce25e66="" class="nav-menu-item-group">
                    <li data-v-5ce25e66="" class="nav-menu-item"><a data-v-5ce25e66="" href="/user/settings"><i
                            data-v-5ce25e66="" class="fengwei fw-setting"></i>设置</a></li>
                    <li data-v-5ce25e66="" class="nav-menu-item more"><a data-v-5ce25e66=""><i data-v-5ce25e66=""
                                                                                               class="fengwei fw-info"></i>关于<i
                            data-v-5ce25e66="" class="ion-chevron-right more-icon"></i></a>
                        <ul data-v-5ce25e66="" class="nav-menu more-dropdown-list">
                            <div data-v-5ce25e66="" class="nav-menu-item-group">
                                <li data-v-5ce25e66="" class="nav-menu-item"><a data-v-5ce25e66="" href="/app"
                                                                                target="_blank">下载应用</a></li>
                                <li data-v-5ce25e66="" class="nav-menu-item"><a data-v-5ce25e66="" href="/about"
                                                                                target="_blank">关于</a></li>
                                <li data-v-5ce25e66="" class="nav-menu-item"><a data-v-5ce25e66=""
                                                                                href="https://xitu.io/jobs"
                                                                                target="_blank">加入我们</a></li>
                                <li data-v-5ce25e66="" class="nav-menu-item"><a data-v-5ce25e66=""
                                                                                href="https://github.com/xitu/gold-miner"
                                                                                rel="nofollow noopener noreferrer"
                                                                                target="_blank">翻译计划</a></li>
                                <li data-v-5ce25e66="" class="nav-menu-item"><a data-v-5ce25e66=""
                                                                                href="https://bd.juejin.im?utm_campaign=bd&amp;utm_source=web&amp;utm_medium=nav"
                                                                                target="_blank">合作伙伴</a></li>
                            </div>
                        </ul>
                    </li>
                </div>
                <div data-v-5ce25e66="" class="nav-menu-item-group">
                    <li data-v-5ce25e66="" class="nav-menu-item"><a data-v-5ce25e66=""><i data-v-5ce25e66=""
                                                                                          class="fengwei fw-logout"></i>登出</a>
                    </li>
                </div>
            </ul>
        </li><!----><!---->
    </ul>
</nav>