<div class="sc-bZQynM hrvhpZ sc-bxivhb kjFDwm">
    <a href="https://book.douban.com/subject/26275063/" data-moreurl="onclick=&quot;moreurl(this,{i:'0',query:'%E6%B4%BB%E5%BE%97%E6%98%8E%E7%99%BD',subject_id:'26275063',from:'book_subject_search',cat_id:'1001'})&quot;" class="cover-link">
        <img src="https://img3.doubanio.com/lpic/s28382400.jpg" alt="活得明白 : 生涯咨询的十八个典型" class="cover">
    </a>
    <div class="detail">
        <div class="title">
            <a href="https://book.douban.com/subject/26275063/" data-moreurl="onclick=&quot;moreurl(this,{i:'0',query:'%E6%B4%BB%E5%BE%97%E6%98%8E%E7%99%BD',subject_id:'26275063',from:'book_subject_search',cat_id:'1001'})&quot;" class="title-text">活得明白 : 生涯咨询的十八个典型</a>
        </div>
        <div class="rating sc-bwzfXH hxNRHc">
            <span class="allstar45 rating-stars"></span><span class="rating_nums">8.5</span><span class="pl">(380人评价)</span>
        </div>
        <div class="meta abstract">贾杰 / 北京大学出版社 / 2015-1-1 / 38.00</div>
        <div class="meta abstract_2"></div>
        <p class="_xrqvxcia5 sc-ifAKCX jVmQgr">
            <span class="gact sc-EHOje bDInVf">
                <a href="https://book.douban.com/subject/26275063/?channel=subject_list&amp;platform=web" target="_blank" data-color="#CF5B40">豆瓣书店有售</a>
            </span><span class="gact sc-EHOje bDInVf">
                <a href="https://read.douban.com/ebook/13222958/?dcs=search-buylink&amp;dcm=douban&amp;dct=26275063" target="_blank" data-color="#973F31">豆瓣阅读电子版</a>
            </span>
        </p>
    </div>
</div>