@model IList<BookListViewModel>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-inline" id="form">
            <div class="form-group">
                <input type="text" class="form-control" id="keyword" placeholder="书名/作者/出版社/ISBN">
            </div>
            <button class="btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
       
        <div class="book-list card">
            fadfadsfadsf
        </div>
    </div>
</div>