@model IList<BookListViewModel>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-inline" id="form">
            <input type="text" class="form-control" id="keyword" placeholder="书名/作者/出版社/ISBN">
            <button class="btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="book-list card">
            fadfadsfadsf
        </div>
    </div>
</div>