@model BookListViewModel
@using BookStore.Domain.Models
@{
    IList<Book> books = Model.Books;
}
<form id="main-search-form" asp-controller="Book" asp-action="Search">
    <input name="q" value="" placeholder="书名/作者/出版社/ISBN" type="text">
    <button class="btn" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
</form>
<ul class="list-unstyled  book-index">
    @{
        foreach (var book in books)
        {
            <li class="book-item">
                <div class="book-card">
                    @book.Title
                </div>
            </li>
        }
    }
    <li class="clearfix"></li>
</ul>