<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div required="" value="" placeholder="写下你的评论…" class="_InputBox_root_1Xwi _InputBox_empty_3_ur _InputBox_blur_3JWV"
     data-input-box="true" aria-label="写下你的评论…" contenteditable="true" data-reactid=".0.7.1"></div>
<div class="_CommentForm_actions_ooEq clearfix" data-reactid=".0.7.2">
    <button class="_CommentForm_submitButton_1N49 zg-btn-blue" data-reactid=".0.7.2.0">评论</button>
    <button class="_CommentForm_cancelButton_cy3u _CommentBox_textButton_3t9_" data-key="cancel"
            data-reactid=".0.7.2.1">取消
    </button>
</div>
</body>
</html>